@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

nav {
  font-family: "Ubuntu", sans-serif;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 9vh;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 25px;
  cursor: pointer;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.1rem;
}

.brand img {
  width: 45px;
  padding: 0 8px;
}

.container {
  height: 70vh;
  background: url("/img/bg.jpg") no-repeat;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 2vh auto;
  padding: 2vh 2vw;
  width: 70vw;
  border: 2px solid black;
  border-radius: 12px;
  background-size: cover;
  overflow: hidden;
}

.songItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d75c5c;
  margin: 12px 0px;
  border-radius: 50px;
}

.songItem img {
  width: 50px;
  margin: 6px;
  border-radius: 30px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
  width: 23px;
  margin-left: 10px;
}

footer {
  position: sticky;
  height: 11vh;
  padding-top: 1vh;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .bottom {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}

#masterSongName {
  align-self: center;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

#gifDiv {
  width: 30vw;
  display: flex;
  justify-content: center;
}

.icons {
  width: 20vw;
  margin: 12px 0;
  display: flex;
  justify-content: center;
}

#previous,
#masterPlay,
#next {
  margin: 0 2vw;
  cursor: pointer;
}

#masterSongName {
  width: 30vw;
  text-align: center;
  font-size: 1.4rem;
}

.bottom img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
